<h1>
        {{title}}
</h1>
<nav>

    <div class="parent-module-box"  align="center">
        <a routerLink="/add" routerLinkActive="active">
            <div class="module-box">
                {{box0}}
            </div>
        </a>
        <a routerLink="/add-multi" routerLinkActive="active">
            <div class="module-box">
                {{box6}}
            </div>
        </a>
        <a routerLink="/dash" routerLinkActive="active">
            <div class="module-box">
                {{box1}}
            </div>
        </a>
        <a routerLink="/view-edit" routerLinkActive="active">
            <div class="module-box">
                {{box2}}
            </div>
        </a>
        <a routerLink="/view-edit" routerLinkActive="active">
            <div class="module-box">
                {{box3}}
            </div>
        </a>
        <a routerLink="/view-edit" routerLinkActive="active">
            <div class="module-box">
                {{box4}}
            </div>
        </a>
        <a routerLink="/view-edit" routerLinkActive="active">
            <div class="module-box">
                {{box5}}
            </div>
        </a>
    </div>
</nav>
<router-outlet></router-outlet>
